<%= form_for(@item) do |f| %>
  <div class='form-inputs'>
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <%= f.file_field :image %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit %>
  </div>
<% end %>
