<h1> Listing items </h1>

<table>
  <tbody>
    <%- @items.each do |item| %>
      <tr>
        <td><%= item.image %></td>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.rating %></td>
        <td><%= link_to 'Vote UP', item_votes_path(item), method: :create %></td>
        <td><%= link_to 'Vote DOWN', item_votes_path(item), method: :delete %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, data: {:confirm => 'Are you sure?'}, method: :delete %></td>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Item', new_item_path %>
